body{
	background: url("../images/cassette.png");
}

.text-center{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.panel-heading{
	font-size: 38px;
	background: url("../images/heading.png");
	color:black;
	font-weight: bolder;
	font-style: normal;	

}
.panel-body{
	font-size:30px;
	color:#4aaaa5;
	padding: 0px;
	padding-right: 15px;
	background-color:yellow;
}

#freshPrince{
	width:250px;
	height:200px;
}

#guessArea{
	color: black;
	font-size:20px;
	width:100%;
	height:100%;
	border-style: dotted;
	line-height: 48px;
	font-weight: bold;
	font-style: normal;
}